<h1 class="pageheader">
  Audio
</h1>
<h1>
  <a href="/video">Video</a>
</h1>
<h1>
  <a href="/photos">Photos</a>
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Kings Bounty
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <iframe width="324" height="239" src="https://www.youtube.com/embed/i2LAZQAVpH8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <iframe width="324" height="239" src="https://www.youtube.com/embed/_dpw6o-qbRE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <iframe width="324" height="239" src="https://www.youtube.com/embed/og8asoI07CM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <iframe width="324" height="239" src="https://www.youtube.com/embed/-9o-NFAGwsA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Fieldy
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        On 11.17.17 Fieldy - bassist from Korn - released his first instrumental bass album, "Bassically". My guitar playing is featured on track 14 "Give me 5". The album also includes contributions from the likes of Ray Luzier, Brian Welch, Jonathan Davis, Anthony Quiles, Wuv Bernardo, Chris Collier, and Sebastian Paquet. Buy it here: <a href="http://hyperurl.co/bassically">http://hyperurl.co/bassically</a> or click the image.
      </p>
      <a href="http://hyperurl.co/bassically" target="_blank">
        <img src="/images/Fieldy_Bassically_iTunes_ScreenShot copy.png" alt="" width="100%">
      </a>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Finespun
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Audio samples coming soon...
      </p>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        >><a href="/finespun">CLICK HERE<<</a> for unreleased samples of my writing, guitar & bass playing, engineering, producing, and mixing.
      </p>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        The audio player below contains examples of my past work as a performer, writer/composer, and engineer.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        *To view credits on each song, click the "Info" button to the right of each highlighted track title.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Playlist
      </h2>
      <ul>
        <p>
          MoG - Written, performed, engineered, produced, mixed by Steve Licata
        </p>
        <p>
          Whole Lotta Love - This Led Zeppelin classic was covered by Stillwell (Fieldy, Wuv, Q, Spider) on their debut album "Dirtbag". Vocal production by Steve Licata.
        </p>
        <p>
          Hegira - Written, performed, engineered, produced, mixed by Steve Licata
        </p>
        <p>
          On Green Dolphin Street (B.Kaper) - This live trio take of the jazz standard features an improvised guitar solo by Steve Licata.
        </p>
        <p>
          Haute and Cold - Written, Engineered, Produced, Mixed by Evan Wildstein of Space. Featuring a guitar Solo by Steve Licata.
        </p>
        <p>
          Regis Theme - This 'daytime TV theme' inspired track was written by Bobby Mazzeo (sax), and produced, engineered, and mixed by John Cardoso (drums) at Sound Select Studios. Guitar parts performed by Steve Licata.
        </p>
        <p>
          Getaway - This jazzy tune was written by Bobby Mazzeo (sax), and produced, engineered, and mixed by John Cardoso (drum) at Sound Select Studios. Guitar parts performed by Steve Licata.
        </p>
      </ul>
    </div>
  </div> -->

  <br>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Booking
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Contact me if you'd like to collaborate on a recording, or if you need a dependable live performer. I'm available for fill-in gigs, live work and sessions of all styles, bringing pro gear, sound, and stage presence. Fill out the Booking Request Form and Studio Request Form or simply send me an email!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        I bring a professional approach to a recording session and live gig. Whether it's guitar or bass, mixing or engineering, live or studio. In the studio I work efficiently to produce superior quality tracks, laced with clean takes that are full of tone, and on stage I bring a dynamic live performance. As a performer, it's a combination of experience, gear, preparation, confidence. In the studio it's adaptation; being able to do what is asked and make changes during the session. In both scenarios, you have to execute. Whatever the job is - whatever 'hat you're wearing', you have to know how to produce, and do it at a high level.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        I have performed with and done session work for local artists and bands in the New York/Long Island area, as well as established touring bands. Styles have ranged from commercial jazz and jingles, to melodic rock, hard rock, alternative rock, and metal. I'm always looking to work with new artists, bands, and musicians on every level!
      </p>
    </div>
  </div>

  <br><br>
