<h1 class="pageheader">
  Blog
</h1>

<div class="container">

  <!-- <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Thu, Oct 12, 2017
      </h3>
      <h3>
        Kings Bounty opens for Korn on tour (draft)
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, May 22, 2017
      </h3>
      <h3>
        Kings Bounty opens for P.O.D. & Korn in California (draft)
      </h3>
      <p>
      </p>
    </div>
  </div> -->



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, May 22, 2017
      </h3>
      <h3>
        Remembering Chris Cornell
      </h3>
      <p>
        Like many others, I was shocked when hearing of Chris Cornell’s sudden passing - especially considering the circumstances surrounding his death. Here is a tribute to him, as best I can do his music justice. An instrumental acoustic cover of “Preaching the End of the World” from his solo album, “Euphoria Morning”. This album has been a love of mine since it came out, and his music has been a cornerstone of my life for over 20 years. 
      </p>
      <p>
        Great songwriting shines through when you can strip a song to it’s bare bones, and still have something beautiful. Removing the layers of this song brought out Chris Cornell’s innate ability to pair complex chords with a haunting melody. Trying to emulate his vocals on an acoustic guitar was not easy, but keeping this cover fully acoustic felt right, warts and all. 
      </p>
      <p>
        Rest in peace, Chris. Thank you for everything you gave us in your life. You will be missed. 
      </p>
      <p>
        If you or someone you know needs help: 
        National Suicide Prevention Lifeline 
        https://suicidepreventionlifeline.org/ 
        1-800-273-8255 
      </p>
      <p>
        "Preaching The End Of The World” 
      </p>
      <p>
        Hello, I know there's someone out there, 
        who can understand, and whose feeling, 
        the same way as me. 
        I'm 24, and I've got everything to live for, 
        but I know now, that it wasn't meant to be. 
      </p>
      <p>
        Cause all has been lost and, 
        all has been won, 
        and there's nothing left for us to save. 
        But now I know that I don't wanna be alone today, 
        so if you're finding, that you're feeling just the same... 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        I've got a photograph I sent it off today, 
        you will see that, I am perfectly sane. 
        Not for a lifetime or forever and a day, 
        cause we know now, that just won't be the case. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        With no commitment and no confessions and, 
        no little secrets to keep. 
        No little children or, 
        houses with roses, 
        just the end of the world and me. 
      </p>
      <p>
        Cause all has been gone and, all has been done, 
        and there's nothing left for us to say. 
        But we could be together as they blow it all away 
        and we could share in every moment as it breaks. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world.
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Wed, May 25, 2016
      </h3>
      <h3>
        Kings Bounty plays Jersey Shore Festival with P.O.D.
      </h3>
      <p>
        This past Sunday 5/22/16 Kings Bounty opened for P.O.D. at the Jersey Shore Festival. Our set went smoothly, and P.O.D. killed it as the festival headliner. Below is a photo P.O.D. lead singer Sonny Sandoval took of Kings Bounty during our set, and a few photos I took of P.O.D. during their set:
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Wed, Oct 28, 2015
      </h3>
      <h3>
        Anatomy of a Houston Wedding Gig
      </h3>
      <p>
        I met Evan when we were teenagers, in our freshman year of college at CW Post. I would have never imagined he’d request I perform the processional music at his wedding, when he and his bride walked down the aisle fifteen years later…
      </p>
      <p>
        View of Asia Society entrance from wedding ceremony balcony (image reference)
      </p>
      <p>
        I was invited as a guest to Evan and Huda’s wedding in Houston. Evan moved there five years ago, originally as the Director of the Houston Opera, currently the Director of Performing Arts at Asia Society. We’ve remained friends and in regular contact through the years, and despite having to travel almost three thousand miles roundtrip, I didn’t hesitate to RSVP ‘yes’, and book a trip to Houston. My United flights were set - arriving in Houston at 1:30pm Saturday (wedding at 6pm that night at Asia Society), departing at 5:30pm Sunday evening back to NY. I even booked an AirBnB for the night two blocks away from the wedding location - a luxury apartment, cheaper than any hotel. I was looking forward to the weekend of travel and celebration, when about a month before the wedding I received a text from Evan. He had a big favor to ask. The performer he arranged for the wedding wasn’t going to be able to make it, and he wanted to know if I’d accept the role of performing portions of the wedding ceremony - solo acoustic guitar. In all my nearly twenty years of guitar playing, I’ve never performed at a wedding. It’s just not an opportunity I ever went after, nor is it one that ever came my way. Wedding music for guitar is mostly classical. I studied classical guitar for a year at Post, and I’ve taught, played through, and performed countless classical pieces, but I wouldn’t consider myself a classical guitarist. I don’t have the depth of repertoire that a traditional classical guitarist does. That said, after my initial conversation with Evan about performing, I had to take on the challenge. Truthfully, I was honored to have been asked, and I’m so happy I made the decision to play the soundtrack to their wedding ceremony.
      </p>
      <p>
        Evan and Huda weren’t having a traditional wedding - Evan is Jew-ish, Huda is Muslim, and the wedding ceremony and reception were held at Asia Society. It was quite an eclectic, moving evening with aspects of multiple cultures and religions - so they weren’t looking for just the traditional wedding pieces. They also wanted pop, jazz, and even a TV show theme song included. That type of variety is more in my wheelhouse as a versatile musician. Ironically enough, on a whim I had recently purchased a book of ‘Wedding Favorites for Classical Guitar’, and now I’d be putting that book to great use. So, what exactly goes into preparing for a thirty-to-fourty-five minute wedding performance? Much more than you may think…
      </p>
      <p>
        Evan and I communicated back and forth for a couple of weeks about what pieces he and Huda wanted performed before the processional (while guests are being seated), during the processional (wedding party/family/bride & groom walk down the aisle), and during the recessional (after the ceremony is over and guests are exiting). Here’s the list that was decided upon:
      </p>
      <p>
        Modern Art in Asia Society Entrance (image reference)
      </p>
      <p>
        Pre-Processional, requested by the bride and groom:
      </p>
      <ul>
        <p>“Free Fallin” - Tom Petty</p>
        <p>“Just The Way You Are” - Bruno Mars</p>
        <p>“Marry Me” - Train</p>
        <p>“My Cherie Amour” - Stevie Wonder</p>
        <p>“Jesu, Joy of Man’s Desiring” - Bach</p>
      </ul>
      <p>
        Pre Processional, additional selected by me:
      </p>
      <ul>
        <p>“Greensleeves” - Anonymous</p>
        <p>“Romanza” - Anonymous</p>
        <p>“Trumpet Voluntary” - Clarke</p>
        <p>“Two Minuets” - Bach</p>
        <p>“In My Life” - The Beatles</p>
      </ul>
      <p>
        Processional, requested:
      </p>
      <ul>
        <p>“Game Of Thrones Theme”, Officiant/Best Man/Groom</p>
        <p>“Air” - Handel, Family/Bridal Party/Groomsmen</p>
        <p>“Canon in D” - Pachelbel, Bride</p>
      </ul>
      <p>
        Recessional, requested:
      </p>
      <ul>
        <p>“Good Day Sunshine” - The Beatles</p>
      </ul>
      <p>
        As you can see, this was going to result in potentially playing fourteen songs. At this point, I had to prepare and practice. The first task was to get the music ready. The pieces in the wedding book were easy; all I had to do was sit down with the book, read the music, and get comfortable playing them. Some of the other pieces were a much different story. “Free Falling,” “Just the Way You Are,” and “Good Day Sunshine” were pieces I knew how to play, but I had to work out versions that included the melody so the guests would recognize the tunes. I had never heard “Marry Me” before, so I had to listen to the recording a few times, and learn it. I eventually found the sheet music at my music studio, which was a life saver. I arranged a great finger-picked acoustic version utilizing the chords and melody. I have played “My Cherie Amour” many times, but in a different key than the original. So I searched and asked around for a version in the original key, and got one from my coworker Keith, who had it written out for guitar - exact to the original recording. Lastly came the “Game of Thrones Theme.” I’ve never watched the show or heard the theme song. I immediately took a listen online, and found out it was a fully orchestral instrumental. I wasn't sure where to begin, but Evan was a big help, emailing me two instrumental versions performed on acoustic guitar. One was not going to work, as the performer was playing in an open drop C tuning; something logistically impossible for a wedding performance. The other was played with a third fret capo, and gave me great insight into how I could play the full orchestration. I wound up having sheet music for every piece except “Game of Thrones” (that was memorized), and I took a picture of each sheet with my iPad, and created a photo album with each piece in ‘setlist’ order so I could easily swipe through. Ultimately, here’s the order I came up with:
      </p>
      <p>
        Modern Art in Asia Society Entrance (image reference)
      </p>
      <ul>
        <p>“Greensleeves” (Key of Am)</p>
        <p>“Romanza” (Key of Em)</p>
        <p>“Free Fallin” (Capo 3/F)</p>
        <p>“Just The Way You Are” (Capo 3/F)</p>
        <p>“Trumpet Voluntary” (Key of C)</p>
        <p>“Marry Me” (Key of C)</p>
        <p>“My Cherie Amour” (Key of Db)</p>
        <p>“Jesu, Joy of Man’s Desiring” (Key of G)</p>
        <p>“Two Minuets” (Key of G)</p>
        <p>“In My Life” (Key of A)</p>
        <p>“Game Of Thrones Theme” - Officiant/Best Man/Groom (Capo 3/Cm)</p>
        <p>“Air” - Family/Bridal Party/Groomsmen (Key of C)</p>
        <p>“Canon in D” - Bride (Drop D Tuning)</p>
        <p>“Good Day Sunshine” (Capo 2/A)</p>
      </ul>
      <p>
        The notes next to each song about capo/key/tuning were reminders, but also aided me in putting together the pre-processional ‘setlist’.
      </p>
      <p>
        I began practicing a little bit each day that I could for two weeks before the wedding. I’d build from playing a piece at a time, to playing a full thirty minutes or more a day. I’d edit out parts of the popular songs when practicing, as they were repetitive, and I’d focus on trouble spots in the classical pieces to ensure they were being performed with precision - especially the processional pieces. I knew I’d have to be alert while performing them, and I wanted to get my ‘head off the page’ by the time I had to perform. I also began to prepare what I’d need to bring to Houston. I packed a travel bag with the iPad, sheet music, 2 capos, a sound-hole cover, guitar strap, spare set of guitar strings, guitar picks, clip-on tuner, and a footstool - all of which fit in my carry-on luggage. What about a guitar? I had an option: use Evan’s Yamaha acoustic-electric, or travel with my Martin acoustic-electric. My guitars are my tools, and I’m very comfortable with them, so using a foreign instrument for such an important performance is not something I wanted to do. That said, I researched United Airlines Instrument Carry-On Policy, and ultimately decided the week of the wedding that I’d use Evan’s Yamaha. It would have been too much of a hassle all-around to bring my Martin. Evan prepped his guitar for me with new strings, and Asia Society would supply a Bose PA to plug into, as well as a music stand and guitar stand.
      </p>
      <p>
        About a week before the wedding, the wedding planner Audrey contacted me to touch base on the timeline of the wedding. She emailed me a spreadsheet containing every detail of the wedding. This put how long I’d be playing each portion of the wedding in a much better perspective. It seemed “Game Of Thrones” would be about a minute long, maybe less; “Air” would most likely be the longest, accounting for fourteen people in the wedding party and family; and “Canon” would take as long as it would take Huda to make her way down the aisle to Evan. I also noticed on the spreadsheet that as part of the wedding reception, “In My Life” was going to be used for one of the dances, so I decided to remove it from the list. The final setlist looked like this:
      </p>
      <ul>
        <p>“Greensleeves” (Key of Am)</p>
        <p>“Romanza” (Key of Em)</p>
        <p>“Free Fallin” (Capo 3/F)</p>
        <p>“Just The Way You Are” (Capo 3/F)</p>
        <p>“Trumpet Voluntary” (Key of C)</p>
        <p>“Marry Me” (Key of C)</p>
        <p>“My Cherie Amour” (Key of Db)</p>
        <p>“Jesu, Joy of Man’s Desiring” (Key of G)</p>
        <p>“Two Minuets” (Key of G)</p>
        <p>“Game Of Thrones Theme” -  Officiant/Best Man/Groom (Capo 3/Cm)</p>
        <p>“Air” - Family/Bridal Party/Groomsmen (Key of C)</p>
        <p>“Canon in D” -Bride (Drop D Tuning)</p>
        <p>“Good Day Sunshine” (Capo 2/A)</p>
      </ul>
      <p>
        My view for the wedding ceremony performance. (image reference)
      </p>
      <p>
        I arrived at Asia Society at about 4:15 after walking those couple of blocks from the AirBnB location in the pouring rain (Hurricane Patricia was in town, and stayed in town all weekend flooding the streets of Houston). Asia Society is architecturally stunning on the outside and inside, with beautiful modern art adorning the entrance and marble tile lining the vast floors. I’d be performing upstairs on the second floor where the ceremony was taking place. I had a chair, music stand, and guitar waiting for me at the far end of the ‘room’, which was an open ended marble tile area with a balcony above the front desk, overlooking the sculpture-filled entranceway. My music was going to echo throughout the entire venue. I got situated, tuned and warmed up Evan’s Yamaha, which played beautifully and was staying in tune despite the humidity. I decided to read all pieces off the iPad, except for the processional music - the sheet music didn't require page turning or swiping. The area had surprisingly warm acoustics despite the marble floor and glass walls - possibly a result of the weather outside. The Bose PA was set up by an Asia Society employee, and I did a soundcheck with my volume 3/4 of the way up. Overall it sounded great, but I wouldn’t get a true feel until people filled the area. I spoke with the officiant Otman, Audrey, and Evan to review the order of the processional, and how transitions would be made. I needed time - a few seconds, really - to remove the capo after “Game of Thrones,” and to tune down for “Canon” after playing “Air.” None of this was a big issue - it really amounts to eye contact and communication - but everything I played would dictate the processional.
      </p>
      <p>
        Audrey came up to me at about 5:15 and told me I may have to play more than thirty minutes during the pre-processional, as people would likely be late due to the weather. She had a point, and I had some thinking to do. I was already one song short after removing “In My Life.” I decided I would just take each piece slowly, and really utilize the ‘repeat’ sections. It was better to play too much of a song and not play each piece I prepared, than run out of music and play something twice. 
      </p>
      <p>
        The beautiful Sofreh arrangement for the wedding ceremony. (image reference)
      </p>
      <p>
        A small number of guests had already gathered in their seats when 5:30 arrived, so I sat down to play. I began with my volume about halfway up, and decided I would gradually increase it as the room filled up, getting to 3/4 for the processional. As I increased the volume, I began to notice a nasty low end feedback-hum coming from the PA. The worker who set up the PA added a heavy reverb, which sounded nice initially, though I thought it was a bit much. I tried to lower it before I began playing, but couldn’t find the controls on the Bose system. So now I’m performing and dealing with an annoying low end feedback-hum and reverb trail that is making every new bass note or chord change clash. I solved the problem while I was playing by rolling off the low end on the Yamaha’s onboard EQ. I initially took it completely off, but that removed too much body from the tone, so I raised it about 1/3, and that solved the sound issue before the processional came. I did this all while playing “Marry Me,” because that’s where the sound issues were most noticeable. 
      </p>
      <p>
        As I arrived at “My Cherie Amour,” I noticed the room was really packing out, and the guests were filling up the room with their chatter, so I got my volume up to 3/4 and felt that was a good enough to compete with them, but not overpower them. When I finished the piece, the planner darted over to me and said it was time to start the processional. If you’re following along, you just realized that I only played seven songs and never got to play “Jesu” or “Two Minutes”; yet I had been playing for forty minutes! Talk about stretching…and spending time practicing songs you never got to perform! It’s something most people don’t realize; how much time a musician puts into preparing for a performance, only to omit much of what was practiced due to time constraints, or other logistics that are out of your control. It happens a lot.
      </p>
      <p>
        I put on the capo and began the opening of the “Game of Thrones” theme. As the officiant made his way down the aisle, the one-hundred-fifty guests went silent. That’s when I realized how present my guitar was, echoing throughout all of beautiful Asia Society! I heard the guests laugh as Evan made his way down the aisle with his brother Scott. I tried to see what happened, but I was focused on my playing and missed the moment. I played about forty seconds to a minute of that piece, give or take. I wound down the piece as Evan and Scott were near me at the front of the room. As I finished, Audrey darted over again and told me to move on to the next piece. I removed the capo, and slowly began “Air.” At this point, I was trying to execute the piece, all while shifting my eyes from the sheet music, to the processional. I knew there were fourteen people, and although it was difficult to count them as I was playing, I thought back to the spreadsheet, and remembered that my buddy James was one of the first groomsmen to walk down the aisle, and groomsmen Joe was towards the end. That helped me figure out a solid place to end. I wound up playing the first page of “Air” twice, the second page once, and went back to the first page, and ended at the bottom of it. It was a bit of an awkward ending to my ear, as that section isn't intended as a true ending. The piece is in the key of C, and I ended on a G chord. The bottom of the first page either repeats back to the beginning (a C chord) or carries over to the next page (a C chord and subsequent key change), but it was really perfect timing to end there, and would have been more awkward if I continued to play to find a more suitable ending. I then turned the guitar’s volume down, detuned the low E string to a D, double checked overall tuning, turned the volume back up, and slowly began the recognizable progression to “Canon in D.” My job was to look for the bride and play accordingly, but once everyone stood up for her entrance, I got concerned. All of the guests were completely blocking my view, and I had no idea where she was. I was trying to balance following the music, playing at a steady, slow pace, and looking up to locate her so I knew exactly how much I needed to play. Fortunately, as I got to the most recognizable melody of the piece on the second page, she appeared at the front of the aisle, ready to take her seat next to Evan. I was able to wind the song down the same way I began it: with a single strum of each chord through the progression. I played straight through 2 pages of the song with no repeats, and officially carried us all to the most important moment of the night.
      </p>
      <p>
        Evan and Huda becoming husband and wife! (image reference)
      </p>
      <p>
        As Otman began the ceremony, I turned the guitar’s volume off, tuned, got out the music for “Good Day Sunshine,” put the capo on, put the guitar on the stand, and took my seat in the second row. The ceremony was absolutely beautiful, and I'm glad I got to see it as a guest, as my view from the performer's seat would have been obstructed. There was symbolism and meaning behind every piece on the Sofreh in front of Evan and Huda, and the vows they exchanged were filled with love and moved everyone the room. My cue to get up and prepare for the recessional piece, was the playing of a traditional middle-eastern song from a playlist, while the wedding party walked around offering food and gifts to the guests in attendance. Once I heard the music, I got up, took my seat, and waited to play. After about five minutes, Audrey gave me the cue, and I went into “Good Day Sunshine.” I probably played that song for ten minutes! I kept looping the verses and choruses and added elements of the melody until it felt like most of the guests had made their way to the cocktail hour, and the wedding party was finishing up taking photos. I then packed up, put Evan’s guitar away, and joined the guests in celebrating the rest of the evening.
      </p>
      <p>
        I played for almost an hour that night for one hundred fifty people.
      </p>
      <p>
        There was no applause.
      </p>
      <p>
        And that's OK.
      </p>
      <p>
        This was Huda and Evan's day! I was simply a small part of it - the soundtrack. The ambiance. The guy you only notice if he screws up. I’d like to think - and I hope - that I enhanced a portion the day for not only the bride and groom and their families, but for all of the guests in attendance. I received many compliments on my playing from Evan, Huda, their families, the bridal party, groomsmen, and guests. 
      </p>
      <p>
        The AlsheikhStein wedding weekend in Houston is something I’ll never forget, and my performance for them, my gift to them, was by far, the biggest moment….though, lifting up Evan and Huda in their chairs for “Hava Nagila” and walking them around the dance floor during the reception comes in at a very close second…
      </p>
      <p>
        L’Chaim!
      </p>
      <p>
        -Steve
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, Sep 21, 2015
      </h3>
      <h3>
        Kings Bounty @ Saint Vitus
      </h3>
      <p>
        Kings Bounty is playing our first show at Saint Vitus in Brooklyn tomorrow September 22nd. Doors are at 8pm, and we hit the stage at 9:30.
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Wed, Sep 2, 2015
      </h3>
      <h3>
        The Heroin Diaries: A Year in the Life of a Shattered Rock Star
      </h3>
      <p>
        I just finished reading "The Heroin Diaries: A Year in the Life of a Shattered Rock Star" by Nikki Sixx of Motley Crüe. I've read other rock star bios, but this one takes the cake. The book is a memoir of Nikki's life in 1987 as told by his actual diary entries, commentary by Nikki and the players in his story, occasional flashbacks, and a summary of his life post-1987. The level of debauchery in that year is like no other. While the book is entertaining, I have to give Nikki credit for sharing the honest, harsh, ugly truth - most of what's in there is far from flattering, and at times it can be a tough read. That said, I'm not writing this to glamorize his anarchy, excess, and drug abuse. I'm writing this for the same reason Nikki Sixx wrote this book - with the hope that "maybe one person will read it and it will help them". Nikki was an addict, so the book is about drug abuse, addiction, and the road to recovery. If anyone out there needs help, maybe this book is the jumpstart you need to get on the right track.
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, March 2, 2015
      </h3>
      <h3>
        Kings Bounty Update
      </h3>
      <p>
        Kings Bounty is working behind the scenes to make 2015 a great year. We are in full rehearsal mode getting ready for the stage, and we are shooting 3 music video this week in NYC. Big things are on the horizon, stay tuned for more updates...
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Tue, Feb 17, 2015
      </h3>
      <h3>
        Morning Phase - Album of the Year Review
      </h3>
      <p>
        I’ve finally listened to Beck’s Grammy winning Album of the Year “Morning Phase” 3 times. Twice in my car, and once on headphones (headphones, not ear buds). I can’t speak on the other nominated albums; I’ve probably only heard a few songs off them combined. What I can say about “Morning Phase’, is that it’s full of well written, well performed songs, performed by real musicians, and I can actually HEAR this each time I listen.
      </p>
      <p>
        There is a raw, organic nature to this record; something missing all too frequently nowadays - lots of acoustic guitar, banjo, string orchestra, lap steel guitar, acoustic piano, harmonica, whirlitzer, e-bowed electric guitar, hand percussion, and a ton of beautifully arranged and harmonized vocals. The mix is lush with reverbs and dynamics, especially in the orchestration and vocals. There is a ‘grand’ nature to some of the passages in the songs, as not one singular instrument gets in the way of the over-riding tone of the moment. The arrangements are tight, the performances speak to a group of seasoned musicians, and Beck’s production is meticulous. There is a simplicity to the songwriting, but such a depth to what carries that simplicity. “Heart is a Drum” is a perfect example of this, with reverse sound effects as ear candy, along with an evolving arrangement that begins with acoustic guitar and vocals, and peaks with an ethereal orchestration full of haunting vocal melodies soaring through the mix.
      </p>
      <p>
        I’m not saying all of this to solidify “Morning Phase” being Album of the Year…but I can hear what Grammy voters must have heard: a meticulously crafted album, with a clear and focused sound, produced by a humble and talented man with a vision. That said, most will not listen to, nor like “Morning Phase”…the tempos are mostly slow, no electronic beats, no ‘rock’ guitars, no autotune, it has a ‘country’ vibe, and Beck is so 1994, right? Whatever. I don’t categorize things in a neat and tidy box. Good music is good music, and personally, I believe this album is full of great music. Just my two cents…go listen and decide for yourself!
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Fri, Dec 12, 2014
      </h3>
      <h3>
        Year's End/Prepare for Hell w Slipknot/Korn
      </h3>
      <p>
        I spent Wednesday 12/3 hanging at the Susquehanna Bank Center in Camden, NJ for the Prepare for Hell Tour with Slipknot & Korn. The guys in Korn hooked me up with a day pass, and I got the hook up from Sid from Slipknot with a Stage Access pass. It was inspiring to see Korn and Slipknot from a birds-eye view, hanging backstage and at catering with all the bands and crew. Always a great vibe to be at large scale shows like that.
      </p>
      <p>
        Monday 12/8 I spent the day with Korn at The Paramount in Huntington, NY for their headlining show. Went out shopping with Fieldy, hung on the bus, backstage, at the meet and greet, and had great VIP seats in the second level of the venue. The crowd was crazy, and having seen Korn a few times at this venue, I can say the band sounded the best this night. Again, always a great experience hanging out and a very fortunate feeling to experience these shows the way I do. It's not something I take for granted.
      </p>
      <p>
        All that said, the year is coming to a close. There are no shows or live performances in the next few weeks. My life has taken many twists and turns, but some promising things are on the horizon. It's incredibly difficult to keep quiet about what I've recently done, and what could be on the horizon, but I learned a long time ago that talk is cheap. I'd rather boast about what is happening or has happened, than what could/would/should happen. If things pan out in the new year, there will plenty to boast about and share. Let's hope 2014 ends on a healthy, positive note, and 2015 brings much prosperity, success, and happiness...for everyone.
      </p>
      <p>
        ::Tour Photos Coming::
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, Aug 11, 2014
      </h3>
      <h3>
        Rockstar Mayhem Fest 2014 - All Access
      </h3>
      <p>
        Thanks to my good friend Q, and the guys in Korn, I went to 3 Rockstar Energy Drink Mayhem Festival shows - Wednesday July 30th @ Jones Beach Amphitheater in Wantagh, NY - Friday August 1st @ Susquehanna Bank Center in Camden, NJ - Saturday August 2nd @ Toyotal Pavillion in Scranton, PA. A lot of stuff went down at these shows - too much to cram into a blog entry! I got to hang with the guys in Korn, their families, and their crew, attend a Korn meet and greet, meet a bunch of guys from the other bands on the festival like Avenged Sevenfold, MushroomHead and Islander, and see some incredible shows by Korn, Avenged Sevenfold, Body Count, Trivium, Asking Alexandria, Islander, and more. I can't say enough about the hospitality I receive from Korn when I'm at the shows, it is truly appreciated. These shows created a lot of great memories and were a great mid-summer highlight. Here are a few pics worth sharing...
      </p>
      <p>
        ::Tour Photos Coming::
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, May 12, 2014
      </h3>
      <h3>
        Rob Balducci @ EvenFlow
      </h3>
      <p>
        May 10th I headed over to EvenFlow Bar & Grill in Bay Shore to check out Rob Balducci and his band. I've been a fan of Rob's playing for about a decade, and we have mutual friends, but up until this night we had never met. I was with my good friend and fellow musician Rob Nos, who works with Rob Balducci's drummer, Kenji Tajima. After quick introductions, Rob Nos and I had a great conversation and laughs with Rob about guitars, teaching, local music venues, and the life of a musician. It's great to know that an established guitarist who's a Favored Nations Recording Artist, Ibanez Guitar & D'Addario String endorser (among many, many other companies), and a prominent instructor and clinician is also a down to earth nice guy! I saw Rob play with a different band years ago at the defunct 'Downtown' venue in Farmingdale, and all these years later with a different band he still sounds great. The band was tight, and the tone emanating from Rob's Ibanez guitar/Cornford amp rig was like a joyous punch to the chest. Pure tube tone! Despite a minor rig malfunction during the set (which we joked about later on), Rob didn't disappoint. His songs are melodically recognizable with lush chord progressions and flurries of shred guitar. Rob Nos and I joined the band for congratulatory remarks after the set and took some photos to commemorate the night. It was great to finally connect with Rob and see him play once again!
      </p>
      <p>
        ::Photos Coming::
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Fri, May 9, 2014
      </h3>
      <h3>
        Time Travelers and BonFires
      </h3>
      <p>
        I caught Sevendust last night in support of their new acoustic album, "Time Travelers and BonFires", at The Emporium in Patchugue. This was my first time at this venue, and I went last minute, buying my ticket as I walked in. The venue was very cool - pretty much all GA and not a 'bad seat' in the house. Sound was good, but could have been improved with louder guitars, but as a guitarist I always want more guitar, even if it's acoustic!! Overall the songs translated really well acoustically, and there were many 'singalong' moments throughout the night for the crowd. Highlights were "Got a Feeling", "Black", "Rumble Fish", "Angel's Son", and NIN cover "Hurt" with Clint on lead vocals. Lajon carried the band all night long pouring emotion and passion into every word he sang, leading the crowd to accompany his vocals, and engaging all of us with his energy. Sevendust has earned heaps of respect through the years by fans and earned a reputation as a band who's achieved a high level of success, all mainly through their own tireless efforts on the road with a killer live show, and by the great songs they've written album after album. Whether its full on metal or stripped down acoustic, they deliver every time with a tight show and continue to add fans to the legions they already have! I'm glad I got to see them play again, here's hoping our paths cross again in the future...
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Fri, April 25, 2014
      </h3>
      <h3>
        Kings Bounty Links
      </h3>
      <p>
        Check out the band Kings Bounty and the song 'Crack Era' on these sites:
      </p>
      <p>
        Crack Era iTunes
      </p>
      <p>
        Crack Era Amazon
      </p>
      <p>
        Crack Era SoundCloud
      </p>
      <p>
        Kings Bounty Facebook
      </p>
      <p>
        Kings Bounty ReverbNation
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Tue, April 1, 2014
      </h3>
      <h3>
        Dream Theater - Along for the Ride Tour (show recap)
      </h3>
      <p>
        Dream Theater's 'Along For The Ride' Tour stopped at The Paramount in Huntington, NY on Sunday March 30th, 2014 and I was able to catch the epic show with my brother. This marks the 9th time I've seen them (it was my brother's 3rd), and as usual, they did not disappoint. We were pretty excited about the show as we are both huge fans, and my brother Chris is loving their new album. Our only qualms about the night had to do with floor seating and security at the venue. Whether it was the band's or venue's decision, we weren't fans of 'reserved seating' taking up the front 2/3 of GA or security putting a stop to cell phone cameras; but it didn't ruin our night. On to the show...
      </p>
      <p>
        The first thing I will offer is that the band sounded great all night long. I saw them at the same venue in 2012, and as great as they sounded then, it was better in 2014. I pride myself in having an astute set of ears, so I've had issues with sound at The Paramount. I've attended shows in GA, the SkyBar at the back of the venue, and on the stage, so I have some perspective when it comes to the venue's sound. Frequently, I'll find that when a singer speaks to the crowd, no one can understand what they are saying. On this night, I found that when James was speaking alone, I could understand him, though it was more difficult when the band was playing and he addressed the crowd. Unfortunately, that leaves awkward moments where the band is expecting a reaction from the crowd, and all they get is a blank stare, because we can't hear you! I'm not sure how the venue can fix this over time. That said, when the band was performing their songs, they sounded stellar. Everything was audible and clear.
      </p>
      <p>
        Act 1 opened with a 'career recap' video montage accompanied by the new album's opening instrumental, 'False Awakening Suite'. The band then dove right into the album's second track and lead single, 'The Enemy Inside', which was accompanied by it's music video about a man struggling to cope with PTSD. All night long the video accompaniments enhanced the show in full color HD clarity. The heavy opener then led straight into another heavy track off of 'Black Clouds & Silver Linings' - 'The Shattered Fortress'. The band then took a brief break where James welcomed the crowd letting us know we were going to be together for 3 hours that night, and then DT fired off their Grammy-nominated track off 'A Dramatic Turn of Events' - 'On the Backs of Angels'. Then came another new track, the catchy and uplifting 'The Looking Glass', followed by the closing track off of the late 90's 'Falling Into Infinity' album - 'Trial of Tears'. This song featured an amazing intro guitar solo by John Petrucci, and the song itself is always a highlight in New York, as the crowd gets to sing the refrain "It's raining deep in New York City". Next came 2 new songs - the newest instrumental to the DT catalog off the new self-titled album, 'Enigma Machine', which featured a break in the middle for an incredible Mike Mangini drum solo, and the ballad-esque tour-namesake 'Along for the Ride'. Set 1 closed with the technically precise roller coaster ride, 'Breaking All Illusions' off of 'ADtoE'.
      </p>
      <p>
        The 15 minute intermission was accompanied by a timed countdown, and a montage of DT-centric YouTube videos. The videos were mainly submissions of attempts at performing DT music, but the highlights were the videos of DT action figures, which is a clear example of how, despite their music being so dense and complex, the band will always poke fun at themselves!
      </p>
      <p>
        Act 2 took me by surprise. 2014 marks the 20th anniversary of 1994's 'Awake', so the band played the entire 2nd half of the album in order: 'The Mirror', 'Lie', 'Lifting Shadows Off a Dream', 'Scarred', and 'Space-Dye Vest'. It's safe to say these are deeper tracks that newer fans are probably unfamiliar with, but they stand up with the newer material in the same set. In my opinion, 'Space-Dye Vest' was the highlight of the show. Despite the dark tone of the music and lyrics, it's a fan favorite; but the band had never played it live until this tour. The live rendition absolutely soared. The mood was set by blank video screens, and lone spotlights on the band members until roughly 4-5 minutes in when the song's climax begins and the light and video show resumed. I was disappointed so many people decided to take a seat during this song, but I'll blame that on offering 'reserved seating' in GA. The closer was the band's newest epic (and 6th new song of the night), the 20-minute long 'Illumination Theory'.
      </p>
      <p>
        For an encore, the video screens flashed artwork from 1999's 'Metropolis Pt. 2 - Scenes From a Memory', signaling a celebration of 15 years since it's release. The screens counted down from year 2014 to 1928, and the band performed spot-on versions of 'Overture 1928' directly into 'Strange Deja Vu', followed by the always frantic and incredibly complex instrumental, 'The Dance of Eternity', and the closer of the night (and album closer on 'Scenes'), 'Finally Free' - always fitting lyrically to end a show, with the line "We'll meet again, my friend, some day soon...".
      </p>
      <p>
        I could go on about JP's impeccable guitar tone, JR's conter-stage rockstar moments on the KeyTar, JM's un-phased concentration, MM's effortless percussive onslaught, and JL's spot-on vocals, but the performance speaks for itself. The Kings of Prog put on an amazing 3 hour show leaving everyone in attendance in awe of their playing, songwriting, production, and tight, clear sound. The 'Along for the Ride' tour is traveling the world pleasing long-time DT fans each night, while surely creating countless new ones!
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sun, Feb 9, 2014
      </h3>
      <h3>
        New Year = New Music
      </h3>
      <p>
        Now that 2014 is over a month in, I thought I'd post an update about what's going on, what's coming up, and share some musical recommendations.
      </p>
      <p>
        My teaching schedule has built up, but I do still have openings to anyone interested in lessons. By Spring I should be gigging regularly with a 5 piece band playing your favorite hit songs. I'll be sure to post dates on the calendar as they are booked. I've also been back to writing for a steady 8 months now. Between old and new ideas, I've got a ton of original demos! A future release is very likely, but will take time, so stay tuned!! I'm also always looking to collaborate with other musicians, bands, artists, singers, songwriters, etc...so if you need a guitarist, guest soloist, co-writer, bassist, producer, or are just looking to build a musical bridge, contact me!
      </p>
      <p>
        Here's a diverse list of albums worth checking out if you're looking for something new to spin. All quality   bands/artists guaranteed to give you aural pleasure!!
      </p>
      <ul>
        <p>Deftones - Koi No Yokan</p>
        <p>Periphery - Periphery II</p>
        <p>Dream Theater - Dream Theater</p>
        <p>Al DiMeola - All Your Life (A Tribute to The Beatles)</p>
        <p>Sevendust - Black out The Sun</p>
        <p>Killswitch Engage - Disarm the Descent</p>
        <p>Bruno Mars - Unorthodox Jukebox</p>
        <p>Gojira - L'enfant Sauvage</p>
        <p>12 Foot Ninja - Silent Machine</p>
      </ul>
      <p>
        Metal, pop, or jazz, good music is good music, so check 'em out!
      </p>
      <p>
        Cheers
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sat, Nov 30, 2013
      </h3>
      <h3>
        Thanksgiving Eve/Black Friday 2013
      </h3>
      <p>
        I spent Thanksgiving Eve 2013 in Sayreville, NJ at the Starland Ballroom with Korn and their opener Devour the Day. The Korn camp was hospitable as always, and their mammoth set in support of "The Paradigm Shift" satisfied the NJ crowd on the biggest party night of the year. My friend and talented photographer Kristin does merch for Devour the Day, so I spent some quality time catching up with her, and picked up their Crossroads EP. I made sure to see the band warm up the crowd for Korn, and I'm sure they gained a ton of new fans after their killer set. JD, bassist from Black Label Society, and King's X bassist Doug Pinnick and drummer Jerry Gaskill were in the house to enjoy the show. Below are some photos from the night.
      </p>
      <p>
        Black Friday night I had a low-key acoustic gig on the south shore of Long Island in Lindenhurst. It was an invitation-only gig at a members club. The setting was very relaxed, and our set consisted of popular cover songs and requests. It was great to jam with my good friends Rob on guitar and singer Nikki. With 2013 almost to a close, we hope to be gigging regularly in 2014.
      </p>
      <p>
        ::Tour Photos Coming::
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sun, Nov 10, 2013
      </h3>
      <h3>
        Alkaline Trio & H2O
      </h3>
      <p>
        Had a great time last night at The Paramount seeing Alkaline Trio and H20 with my brother and cousins. H20 are native NY'ers, have been doing it for 20 years, and were great openers. The locals welcomed them with a big circle pit and plenty of crowd participation. Alkaline Trio played a solid hour-long set. It took the crowd about 4 songs to warm up, but once one of my favorite songs, "Help Me", started blaring through the PA, hands went up and crowd surfing ensued. They fill up the audio spectrum well as a 3-piece, but sequenced keys and backing vocal harmonies help match the recorded material in a live setting. New Found Glory was the headliner, but we left early as my cousins had a long drive back home. That may have been a good thing, as I heard the fire alarm went off...
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Thur, Oct 24, 2013
      </h3>
      <h3>
        Open Mic
      </h3>
      <p>
        Last night's open mic at the Brickhouse was a success. Played a 5 song set to great crowd response. Thanks to all who came out in support!
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sat, Sep 28, 2013
      </h3>
      <h3>
        Korn in NYC
      </h3>
      <p>
        The mighty Korn invaded Roseland Ballroom in NYC last night along with Asking Alexandria and Love & Death, and as usual they did not disappoint!! I've experienced their shows from an all-access perspective for a number of years, and the shows keep getting better and better!! Below are a handful of photos I took throughout the night, including one of Fieldy and me, taken during the show - I was watching the show from side-stage, and I felt a tap on my shoulder, it was Fieldy telling me to take a picture. I was thinking "shouldn't you be on stage playing bass!?", but I quickly snapped a few 'selfies' to capture the moment! If only Apple would install a front-facing flash on the iPhone... \m/
      </p>
      <p>
        ::Tour Photos Coming::
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Wed, Sep 25, 2013
      </h3>
      <h3>
        Need Lessons?? I have openings!!
      </h3>
      <p>
        My schedule is filling up, but if anyone out there is looking to improve their playing with some QUALITY PRIVATE LESSONS, I still have openings!! I can travel to you if you are in the NY/LI area, or I am set up to do video lessons for anyone outside NY!!
      </p>
      <p>
        My lessons are STRUCTURED, and TAILORED specifically for each student, BEGINNER to ADVANCED, ALL AGES. Some of what I'm teaching current students includes: Progressive Metal, Fingerpicked Blues, Top 40 Pop, Alternate Picking Exercises, Rock Guitar Solos, and Standard Jazz Charts.
      </p>
      <p>
        Check out the LESSONS page for more details about lessons with me, and CONTACT me to get your playing where it needs to be!!
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sat, June 1, 2013
      </h3>
      <h3>
        Updates
      </h3>
      <p>
        I'm steadily building and adding to the site...building projects...if you'd like to work together on stage or in the studio, feel free to reach out!!
      </p>
      <p>
        Don't forget to connect with me on Facebook, Twitter (@SteveLicata), Instagram (@SteveLicata), Google+, Linked In, YouTube, and MySpace !!
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Sat, June 1, 2013
      </h3>
      <h3>
        Korn
      </h3>
      <p>
        On 5/22/13 I spent the day with Korn in NJ for their 5th show with Head back in the band. Watched Fieldy get new ink, ate some Thai food, and watched a killer show!!
      </p>
    </div>
  </div>


<!-- 
  <hr>



  <div class="pageheader">
    <img src="/images/SteveImagesCollage.001 copy.jpeg" alt="image collage" width="100%">
  </div> -->

</div>

<br><br>
