<h1 class="pageheader">
  Blog
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <h3>
        Mon, May 22, 2017
      </h3>
      <h3>
        Remembering Chris Cornell
      </h3>
      <p>
        Like many others, I was shocked when hearing of Chris Cornell’s sudden passing - especially considering the circumstances surrounding his death. Here is a tribute to him, as best I can do his music justice. An instrumental acoustic cover of “Preaching the End of the World” from his solo album, “Euphoria Morning”. This album has been a love of mine since it came out, and his music has been a cornerstone of my life for over 20 years. 
      </p>
      <p>
        Great songwriting shines through when you can strip a song to it’s bare bones, and still have something beautiful. Removing the layers of this song brought out Chris Cornell’s innate ability to pair complex chords with a haunting melody. Trying to emulate his vocals on an acoustic guitar was not easy, but keeping this cover fully acoustic felt right, warts and all. 
      </p>
      <p>
        Rest in peace, Chris. Thank you for everything you gave us in your life. You will be missed. 
      </p>
      <p>
        If you or someone you know needs help: 
        National Suicide Prevention Lifeline 
        https://suicidepreventionlifeline.org/ 
        1-800-273-8255 
      </p>
      <p>
        "Preaching The End Of The World” 
      </p>
      <p>
        Hello, I know there's someone out there, 
        who can understand, and whose feeling, 
        the same way as me. 
        I'm 24, and I've got everything to live for, 
        but I know now, that it wasn't meant to be. 
      </p>
      <p>
        Cause all has been lost and, 
        all has been won, 
        and there's nothing left for us to save. 
        But now I know that I don't wanna be alone today, 
        so if you're finding, that you're feeling just the same... 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        I've got a photograph I sent it off today, 
        you will see that, I am perfectly sane. 
        Not for a lifetime or forever and a day, 
        cause we know now, that just won't be the case. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        With no commitment and no confessions and, 
        no little secrets to keep. 
        No little children or, 
        houses with roses, 
        just the end of the world and me. 
      </p>
      <p>
        Cause all has been gone and, all has been done, 
        and there's nothing left for us to say. 
        But we could be together as they blow it all away 
        and we could share in every moment as it breaks. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world. 
      </p>
      <p>
        Call me now it's alright, 
        It's just the end of the world. 
        You need a friend in the world, 
        cause you can't hide. 
        So call and I'll get right back, 
        if your intentions are pure, 
        I'm seeking a friend, for the end, of the world.
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Wed, May 25, 2016
      </h3>
      <h3>
        Kings Bounty plays Jersey Shore Festival with P.O.D.
      </h3>
      <p>
        This past Sunday 5/22/16 Kings Bounty opened for P.O.D. at the Jersey Shore Festival. Our set went smoothly, and P.O.D. killed it as the festival headliner. Below is a photo P.O.D. lead singer Sonny Sandoval took of Kings Bounty during our set, and a few photos I took of P.O.D. during their set:
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Wed, Oct 28, 2015
      </h3>
      <h3>
        Anatomy of a Houston Wedding Gig
      </h3>
      <p>
        I met Evan when we were teenagers, in our freshman year of college at CW Post. I would have never imagined he’d request I perform the processional music at his wedding, when he and his bride walked down the aisle fifteen years later…
      </p>
      <p>
        View of Asia Society entrance from wedding ceremony balcony (image reference)
      </p>
      <p>
        I was invited as a guest to Evan and Huda’s wedding in Houston. Evan moved there five years ago, originally as the Director of the Houston Opera, currently the Director of Performing Arts at Asia Society. We’ve remained friends and in regular contact through the years, and despite having to travel almost three thousand miles roundtrip, I didn’t hesitate to RSVP ‘yes’, and book a trip to Houston. My United flights were set - arriving in Houston at 1:30pm Saturday (wedding at 6pm that night at Asia Society), departing at 5:30pm Sunday evening back to NY. I even booked an AirBnB for the night two blocks away from the wedding location - a luxury apartment, cheaper than any hotel. I was looking forward to the weekend of travel and celebration, when about a month before the wedding I received a text from Evan. He had a big favor to ask. The performer he arranged for the wedding wasn’t going to be able to make it, and he wanted to know if I’d accept the role of performing portions of the wedding ceremony - solo acoustic guitar. In all my nearly twenty years of guitar playing, I’ve never performed at a wedding. It’s just not an opportunity I ever went after, nor is it one that ever came my way. Wedding music for guitar is mostly classical. I studied classical guitar for a year at Post, and I’ve taught, played through, and performed countless classical pieces, but I wouldn’t consider myself a classical guitarist. I don’t have the depth of repertoire that a traditional classical guitarist does. That said, after my initial conversation with Evan about performing, I had to take on the challenge. Truthfully, I was honored to have been asked, and I’m so happy I made the decision to play the soundtrack to their wedding ceremony.
      </p>
      <p>
        Evan and Huda weren’t having a traditional wedding - Evan is Jew-ish, Huda is Muslim, and the wedding ceremony and reception were held at Asia Society. It was quite an eclectic, moving evening with aspects of multiple cultures and religions - so they weren’t looking for just the traditional wedding pieces. They also wanted pop, jazz, and even a TV show theme song included. That type of variety is more in my wheelhouse as a versatile musician. Ironically enough, on a whim I had recently purchased a book of ‘Wedding Favorites for Classical Guitar’, and now I’d be putting that book to great use. So, what exactly goes into preparing for a thirty-to-fourty-five minute wedding performance? Much more than you may think…
      </p>
      <p>
        Evan and I communicated back and forth for a couple of weeks about what pieces he and Huda wanted performed before the processional (while guests are being seated), during the processional (wedding party/family/bride & groom walk down the aisle), and during the recessional (after the ceremony is over and guests are exiting). Here’s the list that was decided upon:
      </p>
      <p>
        Modern Art in Asia Society Entrance (image reference)
      </p>
      <p>
        Pre-Processional, requested by the bride and groom:
      </p>
      <ul>
        <p>“Free Fallin” - Tom Petty</p>
        <p>“Just The Way You Are” - Bruno Mars</p>
        <p>“Marry Me” - Train</p>
        <p>“My Cherie Amour” - Stevie Wonder</p>
        <p>“Jesu, Joy of Man’s Desiring” - Bach</p>
      </ul>
      <p>
        Pre Processional, additional selected by me:
      </p>
      <ul>
        <p>“Greensleeves” - Anonymous</p>
        <p>“Romanza” - Anonymous</p>
        <p>“Trumpet Voluntary” - Clarke</p>
        <p>“Two Minuets” - Bach</p>
        <p>“In My Life” - The Beatles</p>
      </ul>
      <p>
        Processional, requested:
      </p>
      <ul>
        <p>“Game Of Thrones Theme”, Officiant/Best Man/Groom</p>
        <p>“Air” - Handel, Family/Bridal Party/Groomsmen</p>
        <p>“Canon in D” - Pachelbel, Bride</p>
      </ul>
      <p>
        Recessional, requested:
      </p>
      <ul>
        <p>“Good Day Sunshine” - The Beatles</p>
      </ul>
      <p>
        As you can see, this was going to result in potentially playing fourteen songs. At this point, I had to prepare and practice. The first task was to get the music ready. The pieces in the wedding book were easy; all I had to do was sit down with the book, read the music, and get comfortable playing them. Some of the other pieces were a much different story. “Free Falling,” “Just the Way You Are,” and “Good Day Sunshine” were pieces I knew how to play, but I had to work out versions that included the melody so the guests would recognize the tunes. I had never heard “Marry Me” before, so I had to listen to the recording a few times, and learn it. I eventually found the sheet music at my music studio, which was a life saver. I arranged a great finger-picked acoustic version utilizing the chords and melody. I have played “My Cherie Amour” many times, but in a different key than the original. So I searched and asked around for a version in the original key, and got one from my coworker Keith, who had it written out for guitar - exact to the original recording. Lastly came the “Game of Thrones Theme.” I’ve never watched the show or heard the theme song. I immediately took a listen online, and found out it was a fully orchestral instrumental. I wasn't sure where to begin, but Evan was a big help, emailing me two instrumental versions performed on acoustic guitar. One was not going to work, as the performer was playing in an open drop C tuning; something logistically impossible for a wedding performance. The other was played with a third fret capo, and gave me great insight into how I could play the full orchestration. I wound up having sheet music for every piece except “Game of Thrones” (that was memorized), and I took a picture of each sheet with my iPad, and created a photo album with each piece in ‘setlist’ order so I could easily swipe through. Ultimately, here’s the order I came up with:
      </p>
      <p>
        Modern Art in Asia Society Entrance (image reference)
      </p>
      <ul>
        <p>“Greensleeves” (Key of Am)</p>
        <p>“Romanza” (Key of Em)</p>
        <p>“Free Fallin” (Capo 3/F)</p> 
        <p>“Just The Way You Are” (Capo 3/F)</p>
        <p>“Trumpet Voluntary” (Key of C)</p>
        <p>“Marry Me” (Key of C)</p>
        <p>“My Cherie Amour” (Key of Db)</p>
        <p>“Jesu, Joy of Man’s Desiring” (Key of G)</p>
        <p>“Two Minuets” (Key of G)</p>
        <p>“In My Life” (Key of A)</p>
        <p>“Game Of Thrones Theme” - Officiant/Best Man/Groom (Capo 3/Cm)</p>
        <p>“Air” - Family/Bridal Party/Groomsmen (Key of C)</p>
        <p>“Canon in D” - Bride (Drop D Tuning)</p>
        <p>“Good Day Sunshine” (Capo 2/A)</p>
      </ul>
      <p>
        The notes next to each song about capo/key/tuning were reminders, but also aided me in putting together the pre-processional ‘setlist’.
      </p>
      <p>
        I began practicing a little bit each day that I could for two weeks before the wedding. I’d build from playing a piece at a time, to playing a full thirty minutes or more a day. I’d edit out parts of the popular songs when practicing, as they were repetitive, and I’d focus on trouble spots in the classical pieces to ensure they were being performed with precision - especially the processional pieces. I knew I’d have to be alert while performing them, and I wanted to get my ‘head off the page’ by the time I had to perform. I also began to prepare what I’d need to bring to Houston. I packed a travel bag with the iPad, sheet music, 2 capos, a sound-hole cover, guitar strap, spare set of guitar strings, guitar picks, clip-on tuner, and a footstool - all of which fit in my carry-on luggage. What about a guitar? I had an option: use Evan’s Yamaha acoustic-electric, or travel with my Martin acoustic-electric. My guitars are my tools, and I’m very comfortable with them, so using a foreign instrument for such an important performance is not something I wanted to do. That said, I researched United Airlines Instrument Carry-On Policy, and ultimately decided the week of the wedding that I’d use Evan’s Yamaha. It would have been too much of a hassle all-around to bring my Martin. Evan prepped his guitar for me with new strings, and Asia Society would supply a Bose PA to plug into, as well as a music stand and guitar stand.
      </p>
      <p>
        About a week before the wedding, the wedding planner Audrey contacted me to touch base on the timeline of the wedding. She emailed me a spreadsheet containing every detail of the wedding. This put how long I’d be playing each portion of the wedding in a much better perspective. It seemed “Game Of Thrones” would be about a minute long, maybe less; “Air” would most likely be the longest, accounting for fourteen people in the wedding party and family; and “Canon” would take as long as it would take Huda to make her way down the aisle to Evan. I also noticed on the spreadsheet that as part of the wedding reception, “In My Life” was going to be used for one of the dances, so I decided to remove it from the list. The final setlist looked like this:
      </p>
      <ul>
        <p>“Greensleeves” (Key of Am)</p>
        <p>“Romanza” (Key of Em)</p>
        <p>“Free Fallin” (Capo 3/F)</p> 
        <p>“Just The Way You Are” (Capo 3/F)</p>
        <p>“Trumpet Voluntary” (Key of C)</p>
        <p>“Marry Me” (Key of C)</p>
        <p>“My Cherie Amour” (Key of Db)</p>
        <p>“Jesu, Joy of Man’s Desiring” (Key of G)</p>
        <p>“Two Minuets” (Key of G)</p>
        <p>“Game Of Thrones Theme” -  Officiant/Best Man/Groom (Capo 3/Cm)</p>
        <p>“Air” - Family/Bridal Party/Groomsmen (Key of C)</p>
        <p>“Canon in D” -Bride (Drop D Tuning)</p>
        <p>“Good Day Sunshine” (Capo 2/A)</p>
      </ul>
      <p>
        My view for the wedding ceremony performance. (image reference)
      </p>
      <p>
        I arrived at Asia Society at about 4:15 after walking those couple of blocks from the AirBnB location in the pouring rain (Hurricane Patricia was in town, and stayed in town all weekend flooding the streets of Houston). Asia Society is architecturally stunning on the outside and inside, with beautiful modern art adorning the entrance and marble tile lining the vast floors. I’d be performing upstairs on the second floor where the ceremony was taking place. I had a chair, music stand, and guitar waiting for me at the far end of the ‘room’, which was an open ended marble tile area with a balcony above the front desk, overlooking the sculpture-filled entranceway. My music was going to echo throughout the entire venue. I got situated, tuned and warmed up Evan’s Yamaha, which played beautifully and was staying in tune despite the humidity. I decided to read all pieces off the iPad, except for the processional music - the sheet music didn't require page turning or swiping. The area had surprisingly warm acoustics despite the marble floor and glass walls - possibly a result of the weather outside. The Bose PA was set up by an Asia Society employee, and I did a soundcheck with my volume 3/4 of the way up. Overall it sounded great, but I wouldn’t get a true feel until people filled the area. I spoke with the officiant Otman, Audrey, and Evan to review the order of the processional, and how transitions would be made. I needed time - a few seconds, really - to remove the capo after “Game of Thrones,” and to tune down for “Canon” after playing “Air.” None of this was a big issue - it really amounts to eye contact and communication - but everything I played would dictate the processional.
      </p>
      <p>
        Audrey came up to me at about 5:15 and told me I may have to play more than thirty minutes during the pre-processional, as people would likely be late due to the weather. She had a point, and I had some thinking to do. I was already one song short after removing “In My Life.” I decided I would just take each piece slowly, and really utilize the ‘repeat’ sections. It was better to play too much of a song and not play each piece I prepared, than run out of music and play something twice. 
      </p>
      <p>
        The beautiful Sofreh arrangement for the wedding ceremony. (image reference)
      </p>
      <p>
        A small number of guests had already gathered in their seats when 5:30 arrived, so I sat down to play. I began with my volume about halfway up, and decided I would gradually increase it as the room filled up, getting to 3/4 for the processional. As I increased the volume, I began to notice a nasty low end feedback-hum coming from the PA. The worker who set up the PA added a heavy reverb, which sounded nice initially, though I thought it was a bit much. I tried to lower it before I began playing, but couldn’t find the controls on the Bose system. So now I’m performing and dealing with an annoying low end feedback-hum and reverb trail that is making every new bass note or chord change clash. I solved the problem while I was playing by rolling off the low end on the Yamaha’s onboard EQ. I initially took it completely off, but that removed too much body from the tone, so I raised it about 1/3, and that solved the sound issue before the processional came. I did this all while playing “Marry Me,” because that’s where the sound issues were most noticeable. 
      </p>
      <p>
        As I arrived at “My Cherie Amour,” I noticed the room was really packing out, and the guests were filling up the room with their chatter, so I got my volume up to 3/4 and felt that was a good enough to compete with them, but not overpower them. When I finished the piece, the planner darted over to me and said it was time to start the processional. If you’re following along, you just realized that I only played seven songs and never got to play “Jesu” or “Two Minutes”; yet I had been playing for forty minutes! Talk about stretching…and spending time practicing songs you never got to perform! It’s something most people don’t realize; how much time a musician puts into preparing for a performance, only to omit much of what was practiced due to time constraints, or other logistics that are out of your control. It happens a lot.
      </p>
      <p>
        I put on the capo and began the opening of the “Game of Thrones” theme. As the officiant made his way down the aisle, the one-hundred-fifty guests went silent. That’s when I realized how present my guitar was, echoing throughout all of beautiful Asia Society! I heard the guests laugh as Evan made his way down the aisle with his brother Scott. I tried to see what happened, but I was focused on my playing and missed the moment. I played about forty seconds to a minute of that piece, give or take. I wound down the piece as Evan and Scott were near me at the front of the room. As I finished, Audrey darted over again and told me to move on to the next piece. I removed the capo, and slowly began “Air.” At this point, I was trying to execute the piece, all while shifting my eyes from the sheet music, to the processional. I knew there were fourteen people, and although it was difficult to count them as I was playing, I thought back to the spreadsheet, and remembered that my buddy James was one of the first groomsmen to walk down the aisle, and groomsmen Joe was towards the end. That helped me figure out a solid place to end. I wound up playing the first page of “Air” twice, the second page once, and went back to the first page, and ended at the bottom of it. It was a bit of an awkward ending to my ear, as that section isn't intended as a true ending. The piece is in the key of C, and I ended on a G chord. The bottom of the first page either repeats back to the beginning (a C chord) or carries over to the next page (a C chord and subsequent key change), but it was really perfect timing to end there, and would have been more awkward if I continued to play to find a more suitable ending. I then turned the guitar’s volume down, detuned the low E string to a D, double checked overall tuning, turned the volume back up, and slowly began the recognizable progression to “Canon in D.” My job was to look for the bride and play accordingly, but once everyone stood up for her entrance, I got concerned. All of the guests were completely blocking my view, and I had no idea where she was. I was trying to balance following the music, playing at a steady, slow pace, and looking up to locate her so I knew exactly how much I needed to play. Fortunately, as I got to the most recognizable melody of the piece on the second page, she appeared at the front of the aisle, ready to take her seat next to Evan. I was able to wind the song down the same way I began it: with a single strum of each chord through the progression. I played straight through 2 pages of the song with no repeats, and officially carried us all to the most important moment of the night.
      </p>
      <p>
        Evan and Huda becoming husband and wife! (image reference)
      </p>
      <p>
        As Otman began the ceremony, I turned the guitar’s volume off, tuned, got out the music for “Good Day Sunshine,” put the capo on, put the guitar on the stand, and took my seat in the second row. The ceremony was absolutely beautiful, and I'm glad I got to see it as a guest, as my view from the performer's seat would have been obstructed. There was symbolism and meaning behind every piece on the Sofreh in front of Evan and Huda, and the vows they exchanged were filled with love and moved everyone the room. My cue to get up and prepare for the recessional piece, was the playing of a traditional middle-eastern song from a playlist, while the wedding party walked around offering food and gifts to the guests in attendance. Once I heard the music, I got up, took my seat, and waited to play. After about five minutes, Audrey gave me the cue, and I went into “Good Day Sunshine.” I probably played that song for ten minutes! I kept looping the verses and choruses and added elements of the melody until it felt like most of the guests had made their way to the cocktail hour, and the wedding party was finishing up taking photos. I then packed up, put Evan’s guitar away, and joined the guests in celebrating the rest of the evening.
      </p>
      <p>
        I played for almost an hour that night for one hundred fifty people.
      </p>
      <p>
        There was no applause.
      </p>
      <p>
        And that's OK.
      </p>
      <p>
        This was Huda and Evan's day! I was simply a small part of it - the soundtrack. The ambiance. The guy you only notice if he screws up. I’d like to think - and I hope - that I enhanced a portion the day for not only the bride and groom and their families, but for all of the guests in attendance. I received many compliments on my playing from Evan, Huda, their families, the bridal party, groomsmen, and guests. 
      </p>
      <p>
        The AlsheikhStein wedding weekend in Houston is something I’ll never forget, and my performance for them, my gift to them, was by far, the biggest moment….though, lifting up Evan and Huda in their chairs for “Hava Nagila” and walking them around the dance floor during the reception comes in at a very close second…
      </p>
      <p>
        L’Chaim!
      </p>
      <p>
        -Steve
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Mon, Sep 21, 2015
      </h3>
      <h3>
        Kings Bounty @ Saint Vitus
      </h3>
      <p>
        Kings Bounty is playing our first show at Saint Vitus in Brooklyn tomorrow September 22nd. Doors are at 8pm, and we hit the stage at 9:30.
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Wed, Sep 2, 2015
      </h3>
      <h3>
        The Heroin Diaries: A Year in the Life of a Shattered Rock Star
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Mon, March 2, 2015
      </h3>
      <h3>
        Kings Bounty Update
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Tue, Feb 17, 2015
      </h3>
      <h3>
        Morning Phase - Album of the Year Review
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Fri, Dec 12, 2014
      </h3>
      <h3>
        Year's End/Prepare for Hell w Slipknot/Korn
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Mon, Aug 11, 2014
      </h3>
      <h3>
        Rockstar Mayhem Fest 2014 - All Access
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Mon, May 12, 2014
      </h3>
      <h3>
        Rob Balducci @ EvenFlow
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Fri, May 9, 2014
      </h3>
      <h3>
        Time Travelers and BonFires
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Fri, April 25, 2014
      </h3>
      <h3>
        Kings Bounty Links
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Tue, April 1, 2014
      </h3>
      <h3>
        Dream Theater - Along for the Ride Tour (show recap)
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Sun, Feb 9, 2014
      </h3>
      <h3>
        New Year = New Music
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Sat, Nov 30, 2013
      </h3>
      <h3>
        Thanksgiving Eve/Black Friday 2013
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Sun, Nov 10, 2013
      </h3>
      <h3>
        Alkaline Trio & H2O
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Thur, Oct 24, 2013
      </h3>
      <h3>
        Open Mic
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Sat, Sep 28, 2013
      </h3>
      <h3>
        Korn in NYC
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Wed, Sep 25, 2013
      </h3>
      <h3>
        Need Lessons?? I have openings!!
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Sat, June 1, 2013
      </h3>
      <h3>
        Updates
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Mon, May 22, 2017
      </h3>
      <h3>
        Kings Bounty opens for P.O.D. & Korn in California (draft)
      </h3>
      <p>
      </p>
    </div>
  </div>



  <hr>



  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Thu, Oct 12, 2017
      </h3>
      <h3>
        Kings Bounty opens for Korn on tour (draft)
      </h3>
      <p>
      </p>
    </div>
  </div>



  <div class="pageheader">
    <img src="/images/SteveImagesCollage.001 copy.jpeg" alt="image collage" width="100%">
  </div>

</div>
