<h1 class="pageheader">
  Blog
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Blog coming soon...
      </h3>
    </div>
  </div>

  <div class="pageheader">
    <img src="/images/SteveImagesCollage.001 copy.jpeg" alt="image collage" width="100%">
  </div>

</div>
