<h1 class="pageheader">
  Contact
</h1>


<div class="container">

  <div class="formdiv">
    <form method="POST" name="form" class="form" action="/send_dynamic_email" onsubmit="return formValidation();">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <center><label for="from_email">
            <p>
              Email Address:
            </p>
          </label>
          <br>
          <input id="inputemail" type="text" name="from_email">
        </div>
      </div>

    <br>
    <br>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <center><label for="email_subject">
            <p>
              Subject:
            </p>
          </label>
          <br>
          <input id="inputsubject" type="text" name="email_subject">
        </div>
      </div>

    <br>
    <br>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <center><label for="email_content">
            <p>
              Message:
            </p>
          </label>
          <br>
          <textarea id="inputmessage" name="email_content" rows="8" cols="20"></textarea>
        </div>
      </div>

    <br>
    <center><p>
      *All Fields Required*
    </p>

      <center><input id="button" type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
  <br>
</div>
