<h1 class="pageheader">
  Experience
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Live
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist and Songwriter in <a href="https://kingsbountyband.com/" target="_blank">Kings Bounty</a></strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          <a href="https://kingsbountyband.com/shop">Self-title EP Release </a>
          with tracks <a href="https://www.youtube.com/watch?v=og8asoI07CM">"Made You King"</a>, <a href="https://www.youtube.com/watch?v=_dpw6o-qbRE">"Denial"</a>, & <a href="https://www.youtube.com/watch?v=-9o-NFAGwsA">"Subliminal"</a> (Suicidal Tendencies Cover)
        </p>
      </ul>
      <ul>
        <p>
          Performances across the U.S. opening for Korn, Jonathan Davis, P.O.D., Sevendust, Trivium, Ded, Light the Torch, Palisades, La Coka Nostra, Like A Storm, and more
        </p>
      </ul>
      <ul>
        <p>
          Midwestern U.S. tour with Korn & Ded.
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist and Songwriter in <a href="http://finespunmusic.com/" target="_blank">Finespun</a></strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Lead Guitarist on live DVD release “Low-Def Volume 1”
        </p>
      </ul>
      <ul>
        <p>
          Toured U.S., Highlights Include:
        </p>
      </ul>
      <ul>
        <p>
          Music Gorilla Industry Showcase @ South By Southwest (Austin, TX)
        </p>
      </ul>
      <ul>
        <p>
          Multiple Industry Showcases @ Millennium Music Conference (Harrisburgh, PA)
        </p>
      </ul>
      <ul>
        <p>
          Rock Solid Pressure Industry Showcase @ Tampa State Theatre (Tampa,FL)
        </p>
      </ul>
      <ul>
        <p>
          D'Addario Sponsored Events @ Miami Music Festival Industry Showcase (Miami, FL) and NuTuYu (Amityville, NY)
        </p>
      </ul>
      <ul>
        <p>
          Cleveland Music Festival Industry Showcase (Cleveland, OH)
          ReverbNation - Sponsored Events
        </p>
      </ul>
      <ul>
        <p>
          Shows in tri-state area and northeastern U.S.
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist and in Half Hallow</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Original rock shows in NYC and on Long Island
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist in Under The Covers</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
          <p>
          Top 40 cover band playing private parties and Long Island clubs
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist in 2'fers</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
          <p>
          Acoustic cover trio playing Long Island clubs
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Lead Guitarist and Songwriter in Dye Grey Sky</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
          <p>
          Original metal band playing in NYC and Long Island
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Volunteer Charity Benefit Shows</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Benefits for Hurricane Katrina
        </p>
      </ul>
      <ul>
        <p>
          Make-A-Wish Foundation
        </p>
      </ul>
      <ul>
        <p>
          Make-A-Wish Foundation
        </p>
      </ul>
      <ul>
        <p>
          Tsunami Relief
        </p>
      </ul>
      <ul>
        <p>
          U.S. Red Cross
        </p>
      </ul>
      <ul>
        <p>
          Tamerlaine Farm Animal Sanctuary
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>College Performing Groups</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Guitar Ensembles, Jazz Bands, Concert Bands, Symphonic Bands, Choir, Recital Performances, Recital Accompanist
        </p>
      </ul>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Studio
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Lead Guitarist, Songwriter, Studio Bassist, Engineer for <a href="https://kingsbountyband.com/" target="_blank">Kings Bounty</a>
        </p>
      </ul>
      <ul>
        <p>
          Studio Guitarist for <a href="https://www.pledgemusic.com/projects/fieldy">'Bassically'</a>, bass album by Fieldy Arvizu from <a href="http://www.kornofficial.com/" target="_blank">Korn</a>. Album incorporates jazz, fusion, funk, latin, blues, reggae. Contributing artists include Anthony 'Q' Quiles (Kings Bounty, <a href="https://www.ratpakrecordsamerica.com/stillwell" target="_blank">Stillwell</a>, Q-Unique), Ray Luzier (<a href="http://www.kornofficial.com/" target="_blank">Korn</a>, Army of Anyone, David Lee Roth), Brian 'Head' Welch (<a href="http://www.kornofficial.com/" target="_blank">Korn</a>, Love and Death), Jonathan Davis (<a href="http://www.kornofficial.com/" target="_blank">Korn</a>), Sebastien Paquet (Photo/Video - Korn, Filmmaker - Mind Over Matter), Chris Collier (Producer - Korn, Kings Bounty, <a href="https://www.ratpakrecordsamerica.com/stillwell" target="_blank">Stillwell</a>, Prong). Album released Nov 17th, 2017 and available <a href="https://www.pledgemusic.com/projects/fieldy" target="_blank">HERE</a>
        </p>
      </ul>
      <ul>
        <p>
          Studio Guitarist and Vocal Producer for <a href="https://www.ratpakrecordsamerica.com/stillwell" target="_blank">Stillwell</a> (Rat Pak Records) featuring Fieldy Arvizu (Korn) on guitar, Wuv Bernardo (P.O.D.) on drums, Q (Kings Bounty, Q-Unique) on vocals, and Spider on bass. <a href="https://www.ratpakrecordsamerica.com/stillwell" target="_blank">Stillwell</a> opened for In this Moment, Sevendust, Korn, and Disturbed on the 2011 Music as a Weapon tour, and played festivals opening for Korn throughout Europe. <a href="https://www.ratpakrecordsamerica.com/stillwell" target="_blank">Stillwell</a>'s releases include 'Raise It Up', 'Dirtbag', and 'Surrounded by Liars'.
        </p>
      </ul>
      <ul>
        <p>
          Performed and Engineered Guitars, Engineered Mixes and Prepped Stems for “Rock Band: Finespun” video game track via Alt-Strum Productions
        </p>
      </ul>
      <ul>
        <p>
          Recorded Rhythm Guitars, Lead Guitars, Bass as a member of <a href="http://finespunmusic.com/" target="_blank">Finespun</a> (Rat Pak Records)
        </p>
      </ul>
      <ul>
        <p>
          Mixing Engineer and Producer for <a href="http://finespunmusic.com/" target="_blank">Finespun</a>
        </p>
      </ul>
      <ul>
        <p>
          Studio Guitarist for melodic rock band Space
        </p>
      </ul>
      <ul>
        <p>
          Studio Guitarist for Jazz Saxophonist Bobby Mazzeo at Sound Select Studios
        </p>
      </ul>
      <ul>
        <p>
          Performed, Engineered, Mixed sessions for Dye Grey Sky (original metal) and 2'fers (acoustic trio)
        </p>
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>
        Education
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>College Studio Experience</strong>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Analog & Digital Tracking/Editing/Mixing
        </p>
      </ul>
      <ul>
        <p>
          Pro Tools HD Recording
        </p>
      </ul>
      <ul>
        <p>
          Audio/Video Post-Production
        </p>
      </ul>
      <ul>
        <p>
          5.1 Surround Mixing
        </p>
      </ul>
      <ul>
        <p>
          MIDI/Nonlinear Editing
        </p>
      </ul>
      <ul>
        <p>
          Signal Flow
        </p>
      </ul>
      <ul>
        <p>
          Studio & Equipment Maintenance
        </p>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Bachelor of Arts Degree in Jazz/Commercial Music Performance and Audio Engineering from Five Towns College</strong>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <strong>Attended L.I.U. @ C.W. Post as Music Performance Major</strong>
      </p>
    </div>
  </div>


</div>
