<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        This is a collection of unreleased original songs by the band Finespun, created during the period of time that I was a member of the group.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        I had a very large role in the creation of these songs. They are on my site solely to represent my songwriting, guitar & bass playing, engineering, producing, and mixing.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        They are not for sale, they are not downloadable.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        To view my credits on each song, click the "Info" button to the right of each highlighted track title.
      </p>
    </div>
  </div>

</div>
