<h1 class="pageheader">
  Lessons
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>
        'Learn as if you were to live forever' - Gandhi
      </h2>
    </div>
  </div>

  <br><br>

  <center><img src="/images/SL_LessonsFlyer1 copy.png" alt="">

  <br><br>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/0DqCyxsENTU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/GdO7eKhGjK4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/mbhJayh4l6Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/2EZmjZ3qnIg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        I have over 20 years of experience playing music, performing (local and touring), recording, and over a decade's worth teaching privately. I've taught countless students through the years, all ages, beginner to advanced. I've studied with world-class musicians in diverse styles, and I have a Bachelor's Degree in Jazz/Commercial Music Performance. Years of intense study, combined with real-world experience on stage, on the road, and in the studio, gives me the ability to connect with students and inform them about all facets of music!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        I'm able to teach students in many ways, ranging from traditional method books for beginners, to songs and concepts pulled from a variety of musical styles for intermediate players, and digging into advanced technique study, lead playing, and jazz theory and improvisation for advanced players. The styles I cover include rock, hard rock, heavy metal, classic rock, blues, jazz, classical, and pop genres.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Some of what you can learn from my lessons:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        How to Play Popular Songs  |  Soloing and Soloing Concepts  |  Tablature and Note Reading  |  Music Theory  |  Rhythm Guitar - Building a Chord 'Vocabulary'  |  Improvisation  |  Musicianship  |  Fretboard Theory  |  Scales  |  Diverse Music History  |  Ear Training  |  Reading Chord Charts  |  Understanding Chord Progressions  |  Ear Transcription  |  Songwriting  |  Composition  |  Arranging  |  Fingerpicking  |  Using a Capo
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Additionally...
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ul>
        <p>
          Learn how to play the songs you want to learn, any style.
        </p>
      </ul>
      <ul>
        <p>
          Understand the ins and outs of touring, live performing, equipment and 'guitar rigs', and the importance of guitar and gear maintenance.
        </p>
      </ul>
      <ul>
        <p>
          Learn about tracking, editing, mixing, and adding production value to your songs.
        </p>
      </ul>
      <ul>
        <p>
          I have experience prepping students for jazz band auditions and live performances, as well as NYSSMA solo performances (Jazz & Classical) for students in the NY area.
        </p>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        My effective teaching techniques have proven to give beginners a lifelong love of music and the guitar, and helped advanced players better understand music and the instrument, as well as improve their overall playing in various styles!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Payment
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        <a href="https://www.paypal.com/myaccount/transfer/request">Make a payment via PayPal</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>
        Get Started
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Contact Steve to get started:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p>
        Include your email address, 'lessons' as the subject, and a description of your ability level, what you're interested in learning, your name, and any additional information you'd like to provide.
      </p>

      <div class="formdiv">
        <form method="POST" name="form" class="form" action="/send_dynamic_email" onsubmit="reurn formValidation();">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><label for="from_email">
                <p>
                  Email Address:
                </p>
              </label>
              <br>
              <input id="inputemail" type="text" name="from_email">
            </div>
          </div>

        <br><br>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><label for="email_subject">
                <p>
                  Subject:
                </p>
              </label>
              <br>
              <input id="inputsubject" type="text" name="email_subject">
            </div>
          </div>

        <br><br>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <center><label for="email_content">
                <p>
                  Message:
                </p>
              </label>
              <br>
              <textarea id="inputmessage" name="email_content" rows="8" cols="20"></textarea>
            </div>
          </div>

        <br>

          <center><input id="submit" type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <center><iframe width="425" height="239" src="https://www.youtube.com/embed/9AOYNFO4NtY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>


</div>

<br>
