<h1 class="pageheader">
  Media
</h1>

<br>

<div class="container">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h1>
        <center><a href="/audio">Audio</a>
      </h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h1>
        <center><a href="/video">Video</a>
      </h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h1>
        <center><a href="/photos">Photos</a>
      </h1>
    </div>
  </div>

  <br>

  <div class="pageheader">
    <img src="/images/SteveImagesCollage.001 copy.jpeg" alt="image collage" width="100%">
  </div>

</div>

<br><br>
