<h1>
  Past Gigs
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2018
      </h1>
      <p>
        <strong>7/9/18</strong>
      </p>
      <p>
        Kings Bounty opens for Light The Torch
      </p>
      <p>
        Saint Vitus, Brooklyn, NY
      </p>
      <p>
        <strong>5/12/18</strong>
      </p>
      <p>
        Kings Bounty opens for Jonathan Davis of Korn and Palisades
      </p>
      <p>
        Irving Plaza, NY, NY
      </p>
      <p>
        <strong>4/21/18</strong>
      </p>
      <p>
        Urban Styles Art Show with Kings Bounty, SickWalt, Lvger
      </p>
      <p>
        TenderTrap, Brooklyn, NY
      </p>
      <p>
        <strong>3/17/18</strong>
      </p>
      <p>
        Kings Bounty opens for La Coka Nostra
      </p>
      <p>
        S.O.B.'s, NY, NY
      </p>
      <p>
        <strong>3/16/18</strong>
      </p>
      <p>
        Kings Bounty opens for La Coka Nostra
      </p>
      <p>
        Voltage Lounge, Philadelphia, PA
      </p>
      <p>
        <strong>3/15/18</strong>
      </p>
      <p>
        Kings Bounty opens for La Coka Nostra
      </p>
      <p>
        Middle East, Boston, MA
      </p>
      <p>
        <strong>2/22/18</strong>
      </p>
      <p>
        Kings Bounty, Newborn Kings, Activator, Hello Phones
      </p>
      <p>
        Bowery Electric, 327 Bowery, NY, NY
      </p>
      <p>
        <strong>1/20/18</strong>
      </p>
      <p>
        St. Vitus & Revolver Present Nuclear Assault, Heavy Metal Kings, Kings Bounty, Drew Stone Hit Squad
      </p>
      <p>
        St. Vitus, 1120 Manhattan Ave, Brookny, NY
      </p>
      <p>
        Charity Benefit for Tamerlaine Farm Aninal Sanctuary. All proceeds go to Tamerlaine, Farm.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2017
      </h1>
      <p>
        <strong>
          9/30/17
        </strong>
      </p>
      <p>
        Korn Live in Concert with Special Guests Kings Bounty
      </p>
      <p>
        The Pageant, St. Louis, MO
      </p>
      <p>
        <strong>
          9/29/17
        </strong>
      </p>
      <p>
        Korn Live in Concert with Special Guests Kings Bounty & Ded
      </p>
      <p>
        Uptown Theatre, Kansas City, MO
      </p>
      <p>
        <strong>
          9/27/17
        </strong>
      </p>
      <p>
        Korn Live in Concert with Special Guests Kings Bounty & Ded
      </p>
      <p>
        Eagles Ballroom, Milwaukee, WI
      </p>
      <p>
        <strong>
          9/26/17
        </strong>
      </p>
      <p>
        Korn Live in Concert with Special Guests Kings Bounty & Ded
      </p>
      <p>
        Myth, St. Paul, MN
      </p>
      <p>
        <strong>
          8/15/17
        </strong>
      </p>
      <p>
        Kings Bounty, The Bone Chimes, Monster Over There
      </p>
      <p>
        Bowery Electric, NY, NY
      </p>
      <p>
        <strong>
          4/30/17
        </strong>
      </p>
      <p>
        Kings Bounty
      </p>
      <p>
        Bike Blessing, Brooklyn, NY
      </p>
      <p>
        <strong>
          3/6/17
        </strong>
      </p>
      <p>
        Korn w Kings Bounty
      </p>
      <p>
        House of Blues, Anaheim, CA
      </p>
      <p>
        <strong>
          3/4/17
        </strong>
      </p>
      <p>
        P.O.D. w Kings Bounty
      </p>
      <p>
        Vibe Lounge, Morongo Casino, Cabazon, CA
      </p>
      <p>
        <strong>
          2/22/17
        </strong>
      </p>
      <p>
        Kings Bounty
      </p>
      <p>
        Bowery Electric, NY, NY
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2016
      </h1>
      <p>
        <strong>
          10/2/16
        </strong>
      </p>
      <p>
        Soul Warrior w Kings Bounty
      </p>
      <p>
        Blackthorn 51, Queens, NY
      </p>
      <p>
        <strong>
          7/24/16
        </strong>
      </p>
      <p>
        Silvertung w Kings Bounty
      </p>
      <p>
        Blackthorn 51, Queens, NY
      </p>
      <p>
        <strong>
          5/22/16
        </strong>
      </p>
      <p>
        P.O.D. w Kings Bounty
      </p>
      <p>
        Jersey Shore Festival, Captain Hook's, Seaside Heights, NJ
      </p>
      <p>
        <strong>
          5/5/16
        </strong>
      </p>
      <p>
        Sevendust, Trivium, Like a Storm w Kings Bounty
      </p>
      <p>
        The Webster, Hartford, CT
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2015
      </h1>
      <p>
        <strong>
          9/21/15
        </strong>
      </p>
      <p>
        Lich King, Hatchet, Kings Bounty
      </p>
      <p>
        Saint Vitus, Brooklyn, NY
      </p>
      <p>
        <strong>
          3/6/15
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        Loyal Order of the Moose, Lindenhurst, NY
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2014
      </h1>
      <p>
        <strong>
          11/14/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        Loyal Order of the Moose, Lindenhurst, NY
      </p>
      <p>
        <strong>
          9/25/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        One Main, Babylon, NY
      </p>
      <p>
        <strong>
          8/9/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        One Main, Babylon, NY
      </p>
      <p>
        <strong>
          7/22/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        One Main, Babylon, NY
      </p>
      <p>
        <strong>
          6/17/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        One Main, Babylon, NY
      </p>
      <p>
        <strong>
          6/10/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        One Main, Babylon, NY
      </p>
      <p>
        <strong>
          3/21/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        Loyal Order of the Moose, Lindenhurst, NY
      </p>
      <p>
        <strong>
          1/29/14
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        Loyal Order of the Moose, Lindenhurst, NY
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2013
      </h1>
      <p>
        <strong>
          10/23/13
        </strong>
      </p>
      <p>
        Under the Covers
      </p>
      <p>
        Brickhouse Brewery, Patchogue, NY
      </p>
      <p>
        <strong>
          Addional Gigs Under the Covers Gigs:
        </strong>
      </p>
      <p>
        Stingers (Seaford, NY) - Haiti Earthquake Red Cross Benefit
      </p>
      <p>
        Bartini (Babylon, NY)
      </p>
      <p>
        Nutty Irishman (Bayshore, NY)
      </p>
      <p>
        Nutty Irishman (Farmingdale, NY)
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2012
      </h1>
      <p>
        <strong>
          10/14/12
        </strong>
      </p>
      <p>
        Matthew Dower Benefit with Finespun
      </p>
      <p>
        89 North, Patchogue, NY
      </p>
      <p>
        <strong>
          9/29/12
        </strong>
      </p>
      <p>
        Rock Solid Pressure Showcase with Finespun
      </p>
      <p>
        Tampa State Theatre, Tampa, St. Pete, FL
      </p>
      <p>
        <strong>
          9/27/12
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        The Legendary Dobb's, Philadelphia, PA
      </p>
      <p>
        <strong>
          2/17/12
        </strong>
      </p>
      <p>
        Millenium Music Conference 16 with Finespun
      </p>
      <p>
        Field House, Etters, PA
      </p>
      <p>
        <strong>
          1/14/12
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        The Legendary Dobb's, Philadelphia, PA
      </p>
      <p>
        <strong>
          1/7/12
        </strong>
      </p>
      <p>
        NuTuYu Showcase with Finespun
      <p>
      </p>
      <p>
        Broadway Bar, Amityville, NY
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2011
      </h1>
      <p>
        <strong>
          12/10/11
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        Rumors, Enola, PA
      </p>
      <p>
        <strong>
          12/9/11
        </strong>
      </p>
      <p>
        Cleveland Music Festival with Finespun
      </p>
      <p>
        Peabody's Down Under, Cleveland, OH
      </p>
      <p>
        <strong>
          11/19/11
        </strong>
      </p>
      <p>
        Finespun, Charetta, Revel 9
      </p>
      <p>
        Mr. Beery's, Bethpage, NY
      </p>
      <p>
        <strong>
          11/11/11
        </strong>
      </p>
      <p>
        Syracuse Music Industry Conference (MICNYC)
      </p>
      <p>
        Dinosaur BBQ, Syracuse, NY
      </p>
      <p>
        <strong>
          9/24/11
        </strong>
      </p>
      <p>
        Finespun, Revel 9, Midnight Mob
      </p>
      <p>
        The Boneyard, Atlantic, City, NJ
      </p>
      <p>
        <strong>
          9/10/11
        </strong>
      </p>
      <p>
        Craving Strange, Finespun, Revel 9
      </p>
      <p>
        Ollie's Point, Amityville, NY
      </p>
      <p>
        <strong>
          8/26/11
        </strong>
      </p>
      <p>
        Charetta Album Release with Finespun
      </p>
      <p>
        Mukcahy's, Wantagh, NY
      </p>
      <p>
        <strong>
          7/26/11
        </strong>
      </p>
      <p>
        LIU @ CW Post Acoustic Radio Show WCWP with Finespun
      </p>
      <p>
        WCWP Radio Station, Brookville, NY
      </p>
      <p>
        <strong>
          7/23/11
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        Mulcahy's 2, Centereach, NY
      </p>
      <p>
        <strong>
          6/25/11
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        Mulcahy's 2, Centereach, NY
      </p>
      <p>
        <strong>
          6/3/11
        </strong>
      </p>
      <p>
        Blameshift with Finespun
      </p>
      <p>
        Zebra Lounge, Copiague, NY
      </p>
      <p>
        <strong>
          4/16/11
        </strong>
      </p>
      <p>
        Polkadot Cadaver, Nevereven, Finespun
      </p>
      <p>
        Local 269, NY, NY
      </p>
      <p>
        <strong>
          4/2/11
        </strong>
      </p>
      <p>
        Finespun
      </p>
      <p>
        The Fusion Room, Syracuse, NY
      </p>
      <p>
        <strong>
          3/26/11
        </strong>
      </p>
      <p>
        Japan Tsunami Benefit with Finespun
      </p>
      <p>
        Mulcanhy's 2, Centereach, NY
      </p>
      <p>
        <strong>
          3/18/11
        </strong>
      </p>
      <p>
        SXSW with Finespun
      </p>
      <p>
        Treasure Island, Austin, TX
      </p>
      <p>
        <strong>
          2/18/11
        </strong>
      </p>
      <p>
        Millenium Music Conference 15 with Finespun & Super Bob
      </p>
      <p>
        Field House, Etters, PA
      </p>


    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2010
      </h1>
      <p>
        <strong>
          12/18/10
        </strong>
      </p>
      <p>
        Revel 9 with Finespun
      </p>
      <p>
        Breadway Bar, Amityville, NY
      </p>
      <p>
        <strong>
          11/13/10
        </strong>
      </p>
      <p>
        Miami Music Festival with Finespun
      </p>
      <p>
        Tobacco Road, Miami, FL
      </p>
      <p>
        <strong>
          9/11/10
        </strong>
      </p>
      <p>
        Best Buy Acoustic with Finespun
      </p>
      <p>
        Best Buy, Oxford Valley, PA)
      </p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <p>
        A list of additional past shows on it's way...
      </p>
    </div>
  </div>

  <!-- HALF HALLOW

  Bongos (Mineola)
  Sound Beach Inn (Sound Beach)
  Nutty Irishman (Farmingdale) open mics
  Shenanigan's (Deer Park)
  Ollie's Point (Amityville) 2x
  National Underground (NYC)
  R-Bar (NYC)
  Stinger’s (Seaford) - Haiti Earthquake Red Cross Benefit
  Bartini's (Babylon) 2x

  2FERS

  McCoy's (Commack)
  Sinclair's (West Babylon)
  Finley’s (Huntington)

  DYE GREY SKY

  Knitting Factory (Manhattan) - Hurricane Katrina Benefit
  Sports Bar (Lindenhurst)

  ASSIGNED RISK
  Stars Sports Bar (West Babylon) -->

  <!-- <div class="row">
    <div class="col-sm-12">
      <h1>
        2009
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2008
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2007
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2006
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>
        2005
      </h1>
    </div>
  </div> -->

</div>
