<h1>
  Past Updates
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <h1>
        2018
      </h1>
      <p>
        10/31/2018
      </p>
      <p>
        Steve appears as featured guitarist in the <a href="/video">video</a> for the song <a href="/video">"Better You Than Me"</a> by Iron Myke & Q-Unique which is a featured single off the album "Medina Bridge". Watch the video <a href="/video">HERE</a>.
      </p>
      <p>
        <iframe width="425" height="315" src="https://www.youtube.com/embed/VjNC1MbYFis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
      <p>
        7/10/2018
      </p>
      <p>
        A new <a href="/video">HD video</a> of Kings Bounty performing <a href="/video">"Made You King"</a> shot from the photographer pit at Irving Plaza opening for Jonathan Davis and Palisades can be viewed <a href="/video">HERE</a>.
      </p>
      <p>
        <iframe width="425" height="239" src="https://www.youtube.com/embed/i2LAZQAVpH8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </p>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-6">
      <h1>
        2017
      </h1>
      <p>
        12/27/2017
      </p>
      <p>
        Kings Bounty Merch Store
      </p>
      <p>
        <a href="https://kingsbountyband.com/shop">
          <img src="/images/KB_Merch copy.jpg" alt="" width="100%">
        </a>
      </p>
      <p>
        The <a href="https://kingsbountyband.com/shop" target="_blank">Kings Bounty Merch Store</a> is up and running. You can now buy t-shirts, CDs, and each order comes with free Kings Bounty stickers. T-shirt sizes are S, M, L, XL. CD contains 3 tracks - "Denial", "Made You King", and "Subliminal".
      </p>
      <p>
        Below is Head from Korn wearing a Kings Bounty tee on tour
      </p>
      <p>
        <a href="https://kingsbountyband.com/shop">
          <img src="/images/KB_Merch_Head copy.jpg" alt="" width="100%">
        </a>
      </p>
      <p>
        10/23/2017
      </p>
      <p>
        Now Accepting New Students
      </p>
      <p>
        <iframe width="425" height="394" src="https://www.youtube.com/embed/0DqCyxsENTU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </p>
      <p>
        10/10/2017
      </p>
      <a href="http://hyperurl.co/bassically" target="_blank">
        <img src="/images/Fieldy_Bassically_Cover_SC copy.jpg" alt="">
      </a>
      <br><br>
      <p>
        Fieldy, bassist of Korn, has a bass album out November 17th on PledgeMusic called "Bassically". My friend Anthony Quiles was at Fieldy's side for the musical journey, producing and engineering the record all around the world, with a variety of unique basses and instruments. They brought in the likes of Ray Luzier, Brian Head Welch, Noah Bernardo, Sébastien Paquet, Chris Collier, and myself, to complete the record. It's very cool to be a part of this project and in the company of musical and creative heavyweights 🙏 Click through below or abov to check it out!
      </p>
      <p>
        <a href="http://hyperurl.co/bassically" target="_blank">
      </p>
        <p>
        Pre-Order here: http://hyperurl.co/bassically
        </p>
      </a>
      <p>
        9/15/2017
      </p>
      <p>
        <a href="http://loudwire.com/kings-bounty-made-you-king-exclusive-song-premiere/" target="_blank">Loudwire - "Made You King" Premier</a>
      </p>
      <p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/og8asoI07CM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
      <p>
        I’m excited to share the newest Kings Bounty release, “Made You King”, ahead of our tour with Korn later this month. Huge thanks to Loudwire for premiering the new song, and thanks to my boys Anthony Quiles and Mike Dijan for making it happen.
      </p>
      <p>
        "The track provides a combination of in-your-face guitars and forceful attention-grabbing synths painting a dark and ominous vibe. Meanwhile, singer Anthony “Q” Quiles walks the line between a melodic vocal approach and something a bit more sinister in his delivery." - Loudwire
      </p>
      <p>
        “When I wrote this track I aimed for a hard-hitting monster riff and an energetic hook that would pack a punch and leave the listener wanting more. Q nailed the lyrics, penning a story that couldn’t be more relevant. Props to Chris Collier for putting it all together. I hope you dig the track, it’s a solid song, one me and the band are real proud of.” -Steve Licata
      </p>
      <p>
        8/11/2017
      </p>
      <p>
        Kings Bounty Opens for Korn on Tour
      </p>
      <img src="/images/KB_KornTour_Promo1_Dates copy.png" alt="" width="100%">
      <p>
        Kings Bounty will be hitting the road and sharing the stage with Korn!!
      </p>
      <ul>
        <p>9/26/17 - St. Paul, MN - Myth*</p>
        <p>9/27/17 - Milwaukee, WI - Eagles Ballroom*</p>
        <p>9/29/17 - Kansas City, MO - Uptown Theatre*</p>
        <p>9/30/17 - St. Louis, MO - The Pageant+</p>
      </ul>
      <p>
        *Korn, Kings Bounty, Ded
      </p>
      <p>
        +Korn, Kings Bounty
      </p>
      <p>
        2/28/2017
      </p>
      <p>
        1st Kings Bounty single/video premiere for "Denial" & website!!
      </p>
      <p>
        Thanks to No Echo for publishing the article premiering our first single and video premiere for "Denial". <a href="http://www.noecho.net/features/video-premiere-kings-bounty-denial" target="_blank">Click here for the No Echo premier article.</a>
      </p>
      <p>
        <iframe width="320" height="180" src="https://www.youtube.com/embed/_dpw6o-qbRE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
      <p>
        <a href="https://www.youtube.com/watch?v=_dpw6o-qbRE" target="_blank">>YouTube Link to Video<
        </a>
      </p>
      <p>
        <a href="https://www.KingsBountyBand.com" target="_blank">Kings Bounty's new home on the net: KingsBountyBand.com
        </a>
      </p>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-6">
      <h1>
        2016
      </h1>
      <p>
        7/29/2016
      </p>
      <p>
        Content Contributor - SpeakIMGE
      </p>
      <p>
        I recently began contributing content to SpeakIMGE, a site dedicated to live music, album, and single reviews. My first review, of Izzy True's debut album, was posted this morning here: SpeakIMGE - Izzy True - Nope
      </p>
      <p>
        New SIMGE review 9/19/16: <a href="http://speakimge.com/album-review-dinowalrus-fairweather/" target="_blank">SpeakIMGE - Dinowalrus - Fairweather</a>
      </p>
      <p>
        New SIMGE review 9/22/16: <a href="http://speakimge.com/album-review-pamphleteers/" target="_blank">SpeakIMGE - Pamphleteers - The Ghost That Follows</a>
      </p>
      <p>
        5/25/2016
      </p>
      <p>
        Kings Bounty Social Media Links
      </p>
      <p>
        <a href="https://www.facebook.com/kingsbountyband" target="_blank">Facebook @KingsBountyBand</a>
      </p>
      <p>
        <a href="https://www.instagram.com/kingsbountyband" target="_blank">Instagram @KingsBountyBand</a>
      </p>
      <p>
        <a href="https://www.twitter.com/kingsbountyband" target="_blank">Twitter @KingsBountyBand</a>
      </p>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-6">
      <h1>
        2015
      </h1>
      <p>
        5/12/2015
      </p>
      <p>
        YouTube Channel
      </p>
      <p>
        My <a href="https://www.youtube.com/SteveLicata" target="_blank">YouTube Channel</a> has PERFORMANCE videos, TUTORIALS, and GEAR DEMO videos.
      </p>
      <p>
        SUBSCRIBE to my channel, LIKE and SHARE my videos, and make requests!
      </p>
      <p>
        <a href="https://www.youtube.com/SteveLicata" target="
        ">https://www.youtube.com/SteveLicata</a>
      </p>
    </div>
  </div>




  <div class="row">
    <div class="col-sm-6">
      <h1>
        2014
      </h1>
      <p>
        7/20/2014
      </p>
      <p>
        Sound Cloud
      </p>
      <p>
        I uploaded a 'Guitar Sample Track' to my Sound Cloud page, hear it here: <a href="https://www.soundcloud.com/Steve-Licata" target="_blank">www.soundcloud.com/Steve-Licata</a>
      </p>
      <p>
        4/25/2014
      </p>
      <p>
        Kings Bounty Links
      </p>
      <p>
        Check out Kings Bounty and the song 'Crack Era' on these sites:
      </p>
      <ul>
        <p>Crack Era iTunes</p>
        <p>Crack Era Amazon</p>
        <p>Crack Era SoundCloud</p>
        <p>Kings Bounty ReverbNation</p>
      </ul>
    </div>
  </div>

</div>
