<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        Your message was sent successfully.
      </h3>
      <h3>
        I'll respond as soon as possible.
      </h3>
    </div>
  </div>
  
</div>
