<h1 class="pageheader">
  Video
</h1>
<h1>
  <a href="/audio">Audio</a>
</h1>
<h1>
  <a href="/photos">Photos</a>
</h1>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <center><h2>
        Subscribe
      </h2>
    </div>
    <div class="col-sm-12">
      <center><div class="g-ytsubscribe" data-channel="stevelicata" data-layout="full" data-count="default"></div>
    </div>
  </div>

</div>

<br><br><br><br>

<h2>
  Kings Bounty
</h2>

<iframe width="425" height="239" src="https://www.youtube.com/embed/i2LAZQAVpH8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/_dpw6o-qbRE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/og8asoI07CM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/-9o-NFAGwsA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br><br><br><br>

<h2>
  "Better You Than Me" by Iron Myke & Q-Unique (featured guitarist in video)
</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/VjNC1MbYFis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br><br><br><br>

<h2>
  <a href="https://www.youtube.com/user/SteveLicata">
    Click to see more performance and tutorial videos
  </a>
</h2>

<iframe width="425" height="239" src="https://www.youtube.com/embed/PaGuqAHLrJU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/pSELTDE8sVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/duNq9jU44H8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/uqNuDCDmaUs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/2EZmjZ3qnIg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/_uuUV4EVpB0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/zoc7T2_XHTU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/l-HfF0qT6wo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/5QJDOoksi1k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/UNvG2Vqp3AQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br><br><br><br>

<h2>
  Finespun
</h2>

<iframe width="425" height="239" src="https://www.youtube.com/embed/j_vPrKxfxLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/QxmtiLPKJ5c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/rcY0_Z-pRkM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/jWys7LEF-y0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/5IMCDTfkzvo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/S_cJZgFglnQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/LsmU7TABQrA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br><br><br><br>

<h2>
  Half Hallow
</h2>

<iframe width="425" height="239" src="https://www.youtube.com/embed/duSmVLGc948" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/0EuEpcr-3_I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/S7_EJtMWgpA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/Xowy6N-Jjzs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/I5TUa8NlZ60" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/O0XwDy7nTNc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<iframe width="425" height="239" src="https://www.youtube.com/embed/t-SVK3BG53E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<br><br><br><br>

<h2>
  Space
</h2>

<iframe width="425" height="239" src="https://www.youtube.com/embed/lLAlYwlpeTw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
